<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

    <%- messages() %>

    <% if (errors) { %>
      <ul class="notice">
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
    <% } %>

    <section class="formSection" id="update_account">
        <form action="/account/update" method="post">
        <fieldset>
            <legend> Account Info </legend>
                               <input type="hidden"          name="account_id"                 value="<%= locals.accountData.account_id        ? account_id :        ''%>">
            <label> First Name <input id="fname" type="text" name="account_firstname" required value="<%= locals.accountData.account_firstname ? account_firstname : ''%>">  </label>
            <label> Last Name  <input id="lname" type="text" name="account_lastname"  required value="<%= locals.accountData.account_lastname  ? account_lastname :  ''%>">  </label>
            <label> Email      <input id="email" type="email" name="account_email"    required value="<%= locals.accountData.account_email     ? account_email :     ''%>">  </label>
            <label><button type="submit">Update</button></label>
        </fieldset>
        </form>

        <form action="/account/update" method="post">
        <fieldset>
            <p>PASSWORD CHANGE IS PERMINANT</p>
            <legend> Change Password </legend>
            <label> Password <input id="password" type="password" name="account_password" placeholder="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"> </label>
            <label><p>Passwords must be minimum of 12 characters and include 1 capital letter 1 number and 1 special charicter </p></label>
            <label><button id="showHide" onclick="showHidePassword()"> Show Password </button></label>
            <label><button type="submit">Register</button></label>
        </fieldset>
        </form>

        <script type="text/javascript">
            function showHidePassword() {
    
                const passInput = document.getElementById("password");
                const button = document.getElementById("showHide");
                event.preventDefault();
    
                if (passInput.getAttribute("type") == "password") {
                    
                    passInput.setAttribute("type","text");
                    button.innerHTML = "Hide Password";
    
                } else {
    
                    passInput.setAttribute("type","password");
                    button.innerHTML = "Show Password";
                }
            }
        </script>

    </section>